<h4 class="page-header">Editar ruta</h4>

<div class="panel panel-default">
    <div class="panel-heading">
        Editar ruta creada por <%= @route.user.name %> (<%= @route.user.email %>)
    </div>
    <div class="panel-body">
    	<%= form_tag admin_route_path(@route), method: 'put' do |f| %>
    		<%= render :partial => "shared/error_messages", :locals => {:target => @route} %>

    		<%= render 'admin/routes/form' %>
    	<% end %>
    </div>
	<div class="panel-footer">
		<%= link_to raw(t("helpers.back")), admin_routes_path, title: 'Volver al listado de rutas' %>
	</div>
</div>