<%= form_tag("/auth/identity/callback", :method => :post, :class => "form-horizontal") do %>
    <div class="control-group">
        <%= email_field_tag "auth_key", params[:auth_key], :placeholder => User.human_attribute_name("email"), :required => "required", :class => "form-control" %>
    </div>
    <div class="form-group">
        <div class="col-md-7">
            <%= password_field_tag "password", params[:password], :placeholder => User.human_attribute_name("password"), :required => "required", :class => "form-control" %>
        </div>
        <div class="col-md-4">
            <%= submit_tag t("users.sign_in"), :class => "btn btn-info entrar", :title => t("users.sign_in") %>
        </div>
    </div>
    <div class="remember">
        <label class="checkbox"><%= check_box_tag "remember_token", true, params[:remember_token] %><%= t("users.remember_my_data") %></label>
         | <%#= link_to t("users.remember_password"), {:controller => :users, :action => :remember_password}, :title => t("users.remember_password") %>
    </div>
<% end %>
