<div class="border-radius margin-top span36 offset6">
  <div class="span32 offset2">
    <h1><%= t("users.remember_password") %></h1>
    <div class="double-margin-top">
      <%= raw show_flash_message(flash[:notice]) %>
      <%= raw show_flash_message(flash[:error], "error") %>

      <% if flash[:notice].blank? %>
        <%= form_tag({:controller => :users, :action => :remember_password}, :method => :post, :class => "form-horizontal form") do %>
          <div class="control-group">
            <label for="user_name" class="strong"><%= t("user.form_create.email") %></label>
            <%= text_field_tag :email, params[:email], :class => "complete", :placeholder => t("user.email"), :class => "span20" %>
            <span class="span10 help-inline">(<%= t("users.form_create.email") %>)</span>
          </div>

          <div class="actions">
            <%= submit_tag t("users.remember_password"), :id => "submit-remember-password", :class => "span20 btn btn-warning", :title => t("users.remember_password") %>
          </div>
        <% end -%>
      <% end -%>
    </div>
  </div>
</div>