<h4 class="page-header">Edici贸n de configuraci贸n</h4>

<div class="panel panel-default">
    <div class="panel-heading">
        Edici贸n de configuraci贸n <%= @config.key %>
    </div>
    <div class="panel-body">
    	<%= form_tag admin_configuration_path(@config), method: 'put' do |f| %>
    		<%= render :partial => "shared/error_messages", :locals => {:target => @config} %>
    		<%= render 'admin/configurations/form' %>
    	<% end %>
    </div>
    <div class="panel-footer">
        <%= link_to raw(t("helpers.back")), admin_configurations_path, title: 'Volver al listado de configuraciones' %>
    </div>
</div>