<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, remote: true }) do |f| %>
	<%= render 'shared/error_messages', target: f.object %>

	<div class="form-group">
		<%= f.label :email %>
		<%= f.email_field :email, autofocus: true, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.submit "Recordar contraseña", :class => "btn btn-sm btn-warning pull-right" %>
	</div>
<% end %>

<hr class="clearfix" />
<center>
    <p><strong>¿Ya tienes una cuenta?</strong></p>
    <p><%= link_to "Entra con tu usuario y contraseña", new_user_session_path, :remote => true, :class => "sign-in-link" %></p>
</center>